@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  display: flex;
  flex-direction: row;
}

.iframe_mobile{
  max-width: "100%"!important;
  
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }
  .iframe_mobile{
    max-width: "100%"!important;
    width: 20em;
  }
}

.content_bg {
  background-image: url('../public/img/orange-brick.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

img {
  max-width: 100%;
  display: inline!important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

 /* @src/App.module.css */

 .section {
  @apply bg-gray-100 h-full md:h-screen w-full;
}



.layout {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-4;
}